<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fastcheckout>
            <general>
                <enable>0</enable>
                <two_step>0</two_step>
            </general>
            <extended>
                <show_discount>1</show_discount>
                <show_comment>1</show_comment>
                <show_subscribe>1</show_subscribe>
                <subscribe_by_default>0</subscribe_by_default>
                <assign_order_to_customer>0</assign_order_to_customer>
            </extended>
        </fastcheckout>
    </default>
</config>
