<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fastcheckout>
            <general>
                <enable>0</enable>
            </general>
            <extended>
                <title>Checkout</title>
                <show_discount>1</show_discount>
                <show_comment>1</show_comment>
                <show_gift_message>1</show_gift_message>
                <show_subscribe>1</show_subscribe>
                <subscribe_by_default>0</subscribe_by_default>
                <payment_title_type>logo_title</payment_title_type>
                <reload_shipping_methods_on_discount>0</reload_shipping_methods_on_discount>
                <show_all_ship_methods>0</show_all_ship_methods>
                <required_shipping_fields>{"instore_pickup":["extension_attributes.pickup_location_code"]}</required_shipping_fields>
                <required_payment_fields>{"purchaseorder":["po_number"]}</required_payment_fields>
            </extended>
        </fastcheckout>
    </default>
</config>
