<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Downloadable\Observer\IsAllowedGuestCheckoutObserver" type="Kkkonrad\Fastcheckout\Observer\Downloadable\IsAllowedGuestCheckoutObserver"/>
    <preference for="Magento\Checkout\Helper\Data" type="Kkkonrad\Fastcheckout\Helper\Checkout\Data"/>
    <preference for="Magento\Customer\Model\AccountManagement" type="Kkkonrad\Fastcheckout\Model\Customer\AccountManagement" />



    <type name="Magento\Customer\Model\Address\AbstractAddress">
        <plugin name="iwd_opc_customer_address" type="Kkkonrad\Fastcheckout\Plugin\Customer\Model\Address\AbstractAddress"/>
    </type>
    <type name="Magento\Payment\Model\InfoInterface">
        <plugin name="iwd_opc_unset_extension_attributes" type="Kkkonrad\Fastcheckout\Plugin\Payments\Info"/>
    </type>

</config>
