<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Quote\Api\CartManagementInterface">
        <plugin name="fastcheckout_place_order_extras"
                type="Kkkonrad\Fastcheckout\Plugin\Quote\PlaceOrderExtrasPlugin"/>
    </type>
    <type name="Magento\Quote\Model\CustomerManagement">
        <plugin name="fastcheckout_quote_customermanagement" type="Kkkonrad\Fastcheckout\Plugin\Quote\CustomerManagementPlugin"/>
    </type>
</config>
