<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="fastcheckout_preserve_inpost_locker" type="Kkkonrad\Fastcheckout\Plugin\Quote\PreserveInpostLocker"/>
    </type>
    <type name="Magento\Quote\Model\CustomerManagement">
        <plugin name="fastcheckout_quote_customermanagement" type="Kkkonrad\Fastcheckout\Plugin\Quote\CustomerManagementPlugin"/>
    </type>

    <type name="Tpay\Magento2\Model\ApiFacade\TpayConfig\ConfigOpen">
        <plugin name="fastcheckout_tpay_config_open" type="Kkkonrad\Fastcheckout\Plugin\Tpay\PatchTpayChannelsScript"/>
    </type>
    <type name="Tpay\Magento2\Model\ApiFacade\TpayConfig\ConfigOrigin">
        <plugin name="fastcheckout_tpay_config_origin" type="Kkkonrad\Fastcheckout\Plugin\Tpay\PatchTpayChannelsScript"/>
    </type>

</config>
