<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="fastcheckout_presentation"
                      xsi:type="object"
                      sortOrder="1000">Kkkonrad\Fastcheckout\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fastcheckout_extended_checkout_config"
                      xsi:type="object" sortOrder="1000">Kkkonrad\Fastcheckout\Model\ExtendedCheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Failure">
        <plugin name="fastcheckout_checkout_failure"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Failure"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="fastcheckout_checkout_success"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Success"/>
    </type>
</config>
