<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Kkkonrad\Fastcheckout\Block\Onepage\Success" />
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fastcheckout_extended_checkout_config"
                      xsi:type="object">Kkkonrad\Fastcheckout\Model\ExtendedCheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Kkkonrad\Fastcheckout\Block\Hyva\Checkout">
        <arguments>
            <argument name="configProvider" xsi:type="object">Magento\Checkout\Model\CompositeConfigProvider</argument>
            <argument name="moduleList" xsi:type="object">Magento\Framework\Module\ModuleListInterface</argument>
            <argument name="componentRegistrar" xsi:type="object">Magento\Framework\Component\ComponentRegistrarInterface</argument>
            <argument name="localeResolver" xsi:type="object">Magento\Framework\Locale\ResolverInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Directory\Model\ResourceModel\Country\Collection">
        <plugin name="fastcheckout_country_collection"
                type="Kkkonrad\Fastcheckout\Plugin\Country\Collection"/>
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="fastcheckout_checkout_controller"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Index\Index"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Failure">
        <plugin name="fastcheckout_checkout_failure"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Failure"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="fastcheckout_checkout_success"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Success"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="fastcheckout_get_checkout_url_dcp"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\DefaultConfigProvider"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage\Link">
        <plugin name="fastcheckout_get_checkout_url_onepage_link"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Onepage\Link"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="fastcheckout_get_checkout_url_cart_sidebar"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Cart\Sidebar"/>
    </type>
    <type name="Magento\Checkout\Block\Link">
        <plugin name="fastcheckout_get_checkout_url_link"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Link"/>
    </type>
    <type name="Magento\Checkout\Block\Cart">
        <plugin name="fastcheckout_get_checkout_url_cart"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Cart"/>
    </type>

    <preference for="PayPal\Braintree\Block\Paypal\Button" type="Kkkonrad\Fastcheckout\Block\Rewrite\Paypal\Button" />

    <type name="Kkkonrad\Fastcheckout\Block\Rewrite\Paypal\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Kkkonrad_Fastcheckout::paypal/button.phtml</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Directory\Model\ResourceModel\Region\Collection" type="Kkkonrad\Fastcheckout\Model\ResourceModel\Region\Collection" />

    <type name="Magento\Framework\View\Model\Layout\Merge">
        <plugin name="fastcheckout_hyva_layout_merge_fix"
                type="Kkkonrad\Fastcheckout\Plugin\Layout\MergePlugin"/>
    </type>

</config>
