<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Kkkonrad\Fastcheckout\Block\Onepage\Success" />
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fastcheckout_extended_checkout_config"
                      xsi:type="object">Kkkonrad\Fastcheckout\Model\ExtendedCheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Kkkonrad\Fastcheckout\Block\Hyva\Checkout">
        <arguments>
            <argument name="configProvider" xsi:type="object">Magento\Checkout\Model\CompositeConfigProvider</argument>
            <argument name="moduleList" xsi:type="object">Magento\Framework\Module\ModuleListInterface</argument>
            <argument name="componentRegistrar" xsi:type="object">Magento\Framework\Component\ComponentRegistrarInterface</argument>
            <argument name="localeResolver" xsi:type="object">Magento\Framework\Locale\ResolverInterface</argument>
            <argument name="requireJsAssets" xsi:type="object">Kkkonrad\Fastcheckout\Model\Hyva\RequireJsAssets</argument>
            <argument name="addressHelper" xsi:type="object">Magento\Customer\Helper\Address</argument>
            <argument name="taxHelper" xsi:type="object">Magento\Tax\Helper\Data</argument>
        </arguments>
    </type>
    <type name="Kkkonrad\Fastcheckout\Magewire\Checkout">
        <arguments>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="directoryHelper" xsi:type="object">Magento\Directory\Helper\Data</argument>
            <argument name="paymentHelper" xsi:type="object">Magento\Payment\Helper\Data</argument>
            <argument name="orderFactory" xsi:type="object">Magento\Sales\Model\OrderFactory</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="addressRepository" xsi:type="object">Magento\Customer\Api\AddressRepositoryInterface</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder</argument>
            <argument name="giftMessageRepository" xsi:type="object">Magento\GiftMessage\Api\CartRepositoryInterface</argument>
            <argument name="giftMessageFactory" xsi:type="object">Magento\GiftMessage\Api\Data\MessageInterfaceFactory</argument>
            <argument name="agreementsValidator" xsi:type="object">Magento\Checkout\Api\AgreementsValidatorInterface</argument>
            <argument name="cartExtensionFactory" xsi:type="object">Magento\Quote\Api\Data\CartExtensionFactory</argument>
            <argument name="addressExtensionFactory" xsi:type="object">Magento\Quote\Api\Data\AddressExtensionFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="fastcheckout_checkout_controller"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Index\Index"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Failure">
        <plugin name="fastcheckout_checkout_failure"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Failure"/>
    </type>
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="fastcheckout_checkout_success"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Controller\Onepage\Success"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="fastcheckout_get_checkout_url_dcp"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\DefaultConfigProvider"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage\Link">
        <plugin name="fastcheckout_get_checkout_url_onepage_link"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Onepage\Link"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="fastcheckout_get_checkout_url_cart_sidebar"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Cart\Sidebar"/>
    </type>
    <type name="Magento\Checkout\Block\Link">
        <plugin name="fastcheckout_get_checkout_url_link"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Link"/>
    </type>
    <type name="Magento\Checkout\Block\Cart">
        <plugin name="fastcheckout_get_checkout_url_cart"
                type="Kkkonrad\Fastcheckout\Plugin\Checkout\Block\Cart"/>
    </type>

    <type name="Magento\Framework\View\Model\Layout\Merge">
        <plugin name="fastcheckout_hyva_layout_merge_fix"
                type="Kkkonrad\Fastcheckout\Plugin\Layout\MergePlugin"/>
    </type>

</config>
