<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="kkkonrad" translate="label" sortOrder="999998">
            <label>Kkkonrad</label>
        </tab>
        <section id="fastcheckout" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout</label>
            <tab>kkkonrad</tab>
            <resource>Kkkonrad_Fastcheckout::system_config</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="extended" translate="label" type="text"
                   sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Configurations</label>
                <field id="title" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Title</label>
                </field>
                <field id="show_discount" translate="label" type="select"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show discount form?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_comment" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show comment field?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_subscribe" translate="label" type="select"
                       sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Subscribe to Newsletter?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label comment" type="select"
                       sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method</label>
                    <source_model>Kkkonrad\Fastcheckout\Model\Config\Source\Shipping</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Payment Method</label>
                    <source_model>Kkkonrad\Fastcheckout\Model\Config\Source\Payment</source_model>
                </field>
                <field id="shipping_payment_mapping" translate="label" type="text"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods by Shipping Method</label>
                    <frontend_model>Kkkonrad\Fastcheckout\Block\Adminhtml\System\Config\ShippingPaymentMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="hyva" translate="label" type="text"
                   sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hyva Compatibility</label>
                <field id="auto_generate_requirejs_assets" translate="label comment" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Generate RequireJS static files on checkout</label>
                    <comment>Creates missing requirejs/require.js and requirejs-config.js for the current Hyva theme and locale when the checkout page is opened.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
