<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="kkkonrad" translate="label" sortOrder="999998">
            <label>Kkkonrad</label>
        </tab>
        <section id="fastcheckout" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout</label>
            <tab>kkkonrad</tab>
            <resource>Kkkonrad_Fastcheckout::system_config</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="extended" translate="label" type="text"
                   sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Configurations</label>
                <field id="title" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Title</label>
                </field>
                <field id="show_discount" translate="label" type="select"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show discount form?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_comment" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show comment field?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="assign_order_to_customer" translate="label comment" type="select"
                       sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Assign order to customer if customer were not logged in (by email)?</label>
                    <comment>Security warning: enable only if the store verifies ownership of the guest email. Matching an email address alone can attach an order, its addresses, and downloadable purchases to an existing customer account.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_subscribe" translate="label" type="select"
                       sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Subscribe to Newsletter?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subscribe_by_default" translate="label" type="select"
                       sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe by Default?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_gift_message" translate="label" type="select"
                       sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Gift Message?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="reload_shipping_methods_on_discount" translate="label" type="select"
                       sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reload Shipping Methods After Discount Change?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_all_ship_methods" translate="label" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show All Shipping Methods?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_title_type" translate="label" type="text"
                       sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Title Type</label>
                </field>
                <field id="default_shipping_method" translate="label comment" type="select"
                       sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method</label>
                    <source_model>Kkkonrad\Fastcheckout\Model\Config\Source\Shipping</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Payment Method</label>
                    <source_model>Kkkonrad\Fastcheckout\Model\Config\Source\Payment</source_model>
                </field>
                <field id="shipping_payment_mapping" translate="label comment" type="text"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Methods by Shipping Method</label>
                    <comment>Shipping methods may use wildcard entries such as carrier_*. Payment methods must be selected by exact method code.</comment>
                    <frontend_model>Kkkonrad\Fastcheckout\Block\Adminhtml\System\Config\ShippingPaymentMapping</frontend_model>
                    <backend_model>Kkkonrad\Fastcheckout\Model\Config\Backend\Json</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
