<div>
    <label class="block text-sm font-medium text-gray-700 mb-1"
           for="fastcheckout-comment"
           data-bind="text: label"></label>
    <textarea id="fastcheckout-comment"
              name="fastcheckout_comment"
              data-fastcheckout-comment
              class="form-input w-full"
              rows="2"
              data-bind="value: value,
                         valueUpdate: valueUpdate,
                         attr: {placeholder: placeholder}"></textarea>
</div>
